BasedOnStyle: LLVM

IndentWidth: 4
AccessModifierOffset: -4

ColumnLimit: 100

Cpp11BracedListStyle: FunctionCall

PackArguments:
  BinPack: BinPack

PackParameters:
  BinPack: OnePerLine

BreakAfterOpenBracketFunction: true

AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: All

AllowShortBlocksOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never

InsertBraces: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true